@import 'color';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  .main-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.vortex-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ff79da;
  clip-path: ellipse(100% 100% at 50% 27%);
  animation: vortex 4s cubic-bezier(0.5, 0, 0.8, 1) forwards; /* Added cubic-bezier to make the animation smoother */
  z-index: 10;
  pointer-events: none; /* Added pointer-events to make sure the animation doesn't block the button */
}
.promo-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11; /* Added z-index to make sure the text is on top of the animation */
  .highlight {
    font-size: 2em;
  }
}

.content {
  opacity: 0;
  transition: opacity 1s;
  animation: revealContent 1s 4s forwards;
  min-height: 100vh;
  position: relative; /* Added position relative to make sure the animation is on top of the content */
}

@keyframes vortex {
  0% {
    clip-path: circle(100% at 50% 27%);
    opacity: 1;
  }
  80% {
    clip-path: circle(20% at 50% 27%);
    opacity: 1;
  }
  100% {
    clip-path: circle(0% at 50% 27%);
    opacity: 0;
    pointer-events: auto; /* Added pointer-events to make sure the animation doesn't block the button */
    animation-fill-mode: forwards; /* Added animation-fill-mode to make sure the animation stays at the last frame */
  }
}

@keyframes revealContent {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    background-color: #ff79da;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes enableScroll {
  to {
    overflow: auto; // Added overflow auto to make sure the scroll is enabled
  }
}

.btn-exploration {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 40px;
  color: white;
  font-size: 1em;
  height: 50px;
  width: 58%;
  border: none;
  margin-top: 20px;
  animation: shine 1.5s infinite alternate 4s;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px #fff, 0 0 30px #ff79da;
    transform: scale(1.05);
  }
}

header {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .search-form {
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
    .location-icon {
      margin-right: 10px;
    }

    .search-input {
      font-size: 1em;
      font-weight: bold;
      border: none;
      background-color: transparent;
      width: auto;
      max-width: 15ch;
      border: 1px solid transparent;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}

// Added keyframes for the shine effect
@keyframes shine {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff79da, 0 0 20px #ff79da,
      0 0 25px #ff79da, 0 0 30px #ff79da, 0 0 35px #ff79da;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff79da;
  }
  50% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff79da, 0 0 40px #ff79da,
      0 0 50px #ff79da, 0 0 60px #ff79da, 0 0 70px #ff79da;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff79da;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff79da, 0 0 20px #ff79da,
      0 0 25px #ff79da, 0 0 30px #ff79da, 0 0 35px #ff79da;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff79da;
  }
}

.restaurants-intro {
  background-color: #f6f6f6;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  h1 {
    width: 70%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 0;
  }

  p {
    width: 70%;
    font-size: 1.2em;
    text-align: center;
  }

  .btn-exploration {
    background: linear-gradient(to bottom right, #ff79da, #9356dc);
    border-radius: 40px;
    color: white;
    font-size: 1em;
    height: 50px;
    width: 58%;
    border: none;
    margin-top: 20px;

    // Updated hover behavior to accentuate the animation
    animation: shine 1.5s infinite alternate;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 15px #fff, 0 0 30px #ff79da;
      transform: scale(1.05);
    }
  }
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: 6%;
  }

  .steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
    .step {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 85%;
      position: relative;
      span:nth-child(1) {
        // Targeting the first span
        background-color: #9356dc;
        border-radius: 50%;
        color: white;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -15px;
        z-index: 2;
      }
    }

    button {
      width: 100%;
      background-color: #f6f6f6;
      font-weight: bold;
      font-size: 1em;
      border-radius: 20px;
      height: 73px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.16);
      gap: 20px;
      padding: 0;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 1;
      &:hover i {
        color: #ff79da;
      }
      i {
        color: #d2d2d2;
        position: absolute;
        left: 15%;
      }

      span {
        text-align: center;
      }
    }
  }
}
.restaurants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  .restaurants-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a {
      color: black;
      text-decoration: none;
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        transition: all 0.2s;
        &:active {
          background-color: rgba(0, 0, 0, 0.1);
          transform: translate(2px);
        }
        img {
          width: 100%;
          height: 210px;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          position: relative;
        }
        span {
          position: absolute;
          width: 80px;
          height: 30px;
          top: 10px;
          right: 10px;
          background-color: #99e2d0;
          color: #008766;
          font-size: 15px;
          padding: 5px;
          text-align: center;
        }
        .card-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .card-rating {
            margin-right: 10px;
            margin-top: 10px;
            i:hover {
              color: #ff79da;
              transition: all 0.2s ease-in-out 0s;
            }
          }
          .card-txt {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-left: 8px;
            margin-bottom: 15px;
            h3 {
              margin: 0;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;

  i {
    color: white;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 5px;

    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: baseline;

        .fa-solid,
        .fas {
          width: 18px;
        }
        .my-custom-icon {
          font-size: 16px;
        }
      }
      gap: 5px;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1em;
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-logo img {
  filter: invert(1);
}

/****************************************************************************************/
/* Media Queries */
@media (min-width: 1024px) {
  .restaurants-intro {
    height: 280px;
    p {
      font-size: medium;
    }
    .btn-exploration {
      width: 220px;
    }
  }

  .fonctionnement {
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-left: 12%;
    }
    .steps-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 40px;
      .step {
        flex-direction: row;
        width: 23%;
      }
    }
  }

  .restaurants-list {
    background-color: #f6f6f6;

    .restaurants-cards {
      width: 75%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      margin-bottom: 35px;
      a {
        width: 40%;
      }
    }
  }

  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    img {
      margin-top: 18px;
      width: 140px;
      height: 30px;
    }
    ul {
      display: flex;
      flex-direction: row;
      li {
        gap: 10px;
        a {
          margin-right: 10px;
        }
      }

      .fa-solid {
        margin-left: 12px;
      }
    }
  }
  .vortex-animation {
    animation: vortexDesktop 4s forwards;
  }

  @keyframes vortexDesktop {
    0% {
      clip-path: circle(100% at 50% 27%);
    }
    80% {
      clip-path: circle(20% at 50% 27%); /* Changed the clip-path to a circle */
    }
    100% {
      clip-path: circle(0% at 50% 27%);
    }
  }
}
