* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body .main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .main-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

header .search-form {
  width: 100%;
  height: 60px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}

header .search-form .location-icon {
  margin-right: 10px;
}

header .search-form .search-input {
  font-size: 1em;
  font-weight: bold;
  border: none;
  background-color: transparent;
  width: auto;
  max-width: 15ch;
  border: 1px solid transparent;
}

header .search-form .search-input:focus {
  outline: none;
  border: none;
}

.restaurants-intro {
  background-color: #f6f6f6;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.restaurants-intro h1 {
  width: 70%;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.restaurants-intro p {
  width: 70%;
  font-size: 1.2em;
  text-align: center;
}

.restaurants-intro .btn-exploration {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 40px;
  color: white;
  font-size: 1em;
  height: 50px;
  width: 58%;
  border: none;
  margin-top: 20px;
}

.fonctionnement {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fonctionnement h2 {
  margin-left: 6%;
}

.fonctionnement ol {
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  gap: 20px;
}

.fonctionnement ol li {
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 20px;
  width: 85%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  gap: 20px;
}

.fonctionnement ol li i {
  color: #d2d2d2;
}

.fonctionnement ol li::before {
  content: counter(list-counter);
  counter-increment: list-counter;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 3.5vw;
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.restaurants-list .restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.restaurants-list .restaurants-cards a {
  color: black;
  text-decoration: none;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.restaurants-list .restaurants-cards a .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: all 0.2s;
}

.restaurants-list .restaurants-cards a .card:active {
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(2px);
}

.restaurants-list .restaurants-cards a .card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.restaurants-list .restaurants-cards a .card span {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

.restaurants-list .restaurants-cards a .card .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurants-list .restaurants-cards a .card .card-content .card-rating {
  margin-right: 10px;
  margin-top: 10px;
}

.restaurants-list .restaurants-cards a .card .card-content .card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 8px;
  margin-bottom: 15px;
}

.restaurants-list .restaurants-cards a .card .card-content .card-txt h3 {
  margin: 0;
}

.restaurants-list .restaurants-cards a .card .card-content .card-txt p {
  margin: 0;
}

footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

footer i {
  color: white;
}

footer .footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 5px;
}

footer .footer-social ul {
  list-style-type: none;
  padding: 0;
  gap: 5px;
}

footer .footer-social ul li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}

footer .footer-social a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin-top: 10px;
}

footer .footer-social a:hover {
  text-decoration: underline;
}

.footer-social a svg {
  fill: white !important;
  transform: scale(0.5) !important;
}
