@import 'color';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  .main-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.photo-of-restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
